@{
    ViewData["Title"] = "Ustawienia konta";
}

<div class="text-center">
    <h1 class="display-4">Opcje użytkownika</h1>
    <br />
    <div class="navbar-nav flex-grow-1">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-md-1">
                <section>
                    <img src="~/image/user.png" height="40" />
                </section>
            </div>
            <div class="col-md-3">
                <section>
                    <a class="navbar-brand" asp-area="">
                        Dane klienta
                    </a>
                </section>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-md-1">
                <section>
                    <img src="~/image/history.png" height="35" style="padding-top: 5px" />
                </section>
            </div>
            <div class="col-md-3">
                <section>
                    <a class="navbar-brand" asp-area="">
                        Historia zamówień
                    </a>
                </section>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-md-1">
                <section>
                    <img src="~/image/envelope.png" height="35" />
                </section>
            </div>
            <div class="col-md-3">
                <section>
                    <a class="navbar-brand" asp-area="" asp-controller="Prescriptions" asp-action="Index">
                        Recepty
                    </a>
                </section>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-md-1">
                <section>
                    <img src="~/image/tag.png" height="40" />
                </section>
            </div>
            <div class="col-md-3">
                <section>
                    <a class="navbar-brand" asp-area="">
                        Kody rabatowe
                    </a>
                </section>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-md-1">
                <section>
                    <img src="~/image/cog.png" height="40" />
                </section>
            </div>
            <div class="col-md-3">
                <section>
                    <a class="navbar-brand" asp-area="">
                        Ustawienia konta
                    </a>
                </section>
            </div>
            <div class="col-5"></div>
        </div>
        <p></p>
        <img src="~/image/ad.png" />
    </div>
</div>

<style>
    li {
        list-style: none;
    }
</style>
